# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
venv/
env/

# IDEs
.vscode/
.idea/

# Data files
*.sqlite3
*.db

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Streamlit

# OS
.DS_Store
Thumbs.db
